// Fonts
// ---------------------------------------------------------------------------

@font-face {
  font-family: 'Lora';
  src: url('Lora/Lora-Regular.ttf');
}
@font-face {
  font-family: 'Lora';
  src: url('Lora/Lora-Bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: 'Lora';
  src: url('Lora/Lora-Italic.ttf');
  font-style: italic;
}
@font-face {
  font-family: 'Lora';
  src: url('Lora/Lora-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Yanone Kaffeesatz';
  src: url('Yanone_Kaffeesatz/YanoneKaffeesatz-Regular.ttf');
}
@font-face {
  font-family: 'Yanone Kaffeesatz';
  src: url('Yanone_Kaffeesatz/YanoneKaffeesatz-Bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: 'Ubuntu Mono';
  src: url('Ubuntu_Mono/UbuntuMono-Regular.ttf');
}
@font-face {
  font-family: 'Ubuntu Mono';
  src: url('Ubuntu_Mono/UbuntuMono-Bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: 'Ubuntu Mono';
  src: url('Ubuntu_Mono/UbuntuMono-Italic.ttf');
  font-style: italic;
}
@font-face {
  font-family: 'Ubuntu Mono';
  src: url('Ubuntu_Mono/UbuntuMono-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Cascadia Code Mono';
  src: url('Cascadia_Code/CascadiaCodeMono-Regular.otf') format("opentype");

}
@font-face {
  font-family: 'Cascadia Code Mono';
  src: url('Cascadia_Code/CascadiaCodeMono-Bold.otf') format("opentype");
  font-weight: bold;
}
@font-face {
  font-family: 'Cascadia Code Mono';
  src: url('Cascadia_Code/CascadiaCodeMono-Italic.otf') format("opentype");
  font-style: italic;
}
@font-face {
  font-family: 'Cascadia Code Mono';
  src: url('Cascadia_Code/CascadiaCodeMono-BoldItalic.otf') format("opentype");
  font-weight: bold;
  font-style: italic;
}

// Theme
// ---------------------------------------------------------------------------

$primary          : #1482B7;
$secondary        : #156C98;
$tertiary         : #757575;
$light            : #bababa;
$white            : #ffffff;
$dark             : #313131;
$text-dark        : #212121;
$text-light       : $light;
$code-background  : #373832;
$inline-code      : #c0341d;
$inline-code-background: #fbe5e1;
$overlay          : transparentize(#000, .5);
$font-size        : 28px;
$font-size-impact : 128px;
$code-font-size   : 16px;
$font             : Lora;
$font-title       : Yanone Kaffeesatz;
$font-fixed       : Ubuntu Mono;
$margin           : 20px;
$iframe-scale     : 1.5;


// CSS Base
// ---------------------------------------------------------------------------

* { box-sizing: border-box; }
body { font-family: $font; }
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 $margin 0;
  font-family: $font-title;
}
h1 { color: $primary; }
h2 { color: $secondary; }
h3 { color: $tertiary; }
li { margin-bottom: .25em; };
a, a:visited, a:hover, a:active { color: $text-dark; }
img { vertical-align: inherit; }
blockquote {
  border-left: 8px solid;
  padding-left: .5em;
  color: $tertiary;
  text-align: left;
  margin: 1em 0;
  & > p { margin: 0; }
}


// Remark base
// ---------------------------------------------------------------------------

.remark-inline-code {
  color: $inline-code;
  background: $inline-code-background;
  border-radius: 5px;
}
h1, h2, h3, h4 {
  .remark-inline-code {
    color: unset;
    background: unset;
    border-radius: unset;
  }
}

.remark-code {
  text-align: left;
  font-family: $font-fixed;
  font-size: $code-font-size;
  color: $secondary;
  background: $code-background;
}
.huge .remark-code { font-size: calc(2 * #{$code-font-size}); }
.big .remark-code { font-size: calc(1.5 * #{$code-font-size}); }
.biggish .remark-code { font-size: calc(1.2 * #{$code-font-size}); }
.small .remark-code { font-size: calc(.8 * #{$code-font-size}); }

.remark-container { background: $dark; }
.remark-slide-scaler { box-shadow: none; }
.remark-notes { font-size: 1.5em; }

.remark-slide-content {
  font-size: $font-size;
  padding: 1em 2em;
  color: $text-dark;
  background-size: cover;
}

.remark-slide-number {
  color: $text-light;
  right: 1em;
  opacity: .6;
  font-size: 0.8em;
  z-index: 2;
  .no-counter & { display: none; }
}

// Additions
.impact {
  background-color: $primary;
  vertical-align: middle;
  text-align: center;
  &, h1, h2 { color: $text-light; }
  h1 { font-size: $font-size-impact; }
}

.full {
  &, h1, h2 { color: $text-light; }
  &iframe {
    height: calc(#{100%/$iframe-scale} - 1.2em);
    width: 100%/$iframe-scale;
    transform: scale($iframe-scale);
    transform-origin: 0 0;
    border: 0;
  }
}

.bottom-bar {
  background-color: $primary;
  color: $text-light;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 20px;
  padding: .8em;
  text-align: left;
  z-index: 1;
  p { margin: 0;}
  .impact &, .full & { display: none; }
}

.survey {
    background: $dark;
    color: $light;
}
.survey h1 { color: $light; }
.survey h2 { color: $light; }
.survey h3 { color: $light; }

.inverse {
    background: $secondary;
    color: $white;
}
.inverse h1 { color: $white; }
.inverse h2 { color: $white; }
.inverse h3 { color: $white; }


// Utilities
// ---------------------------------------------------------------------------

// Positioning
.side-layer {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 2em;
}
.middle { &, & img, & span { vertical-align: middle; } };
.top { vertical-align: top; };
.bottom { vertical-align: bottom; };
.inline-block {
  p, ul, ol, blockquote {
    display: inline-block;
    text-align: left;
  }
}
.no-margin { &, & > p, & > pre, & > ul, & > ol { margin: 0; } }
.no-padding { padding: 0; }
.space-left { padding-left: 1em; }
.space-right { padding-right: 1em; }

.split-50 .column:first-of-type {width: 50%}
.split-50 .column:last-of-type {width: 50%}
.split-60 .column:first-of-type {width: 60%}
.split-60 .column:last-of-type {width: 40%}

// Images
.responsive > img { width: 100%; height: auto; };
.contain { background-size: contain; };
.overlay { box-shadow: inset 0 0 0 9999px $overlay; }
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.image-10 img { width: 10%; }
.image-20 img { width: 20%; }
.image-30 img { width: 30%; }
.image-40 img { width: 40%; }
.image-50 img { width: 50%; }
.image-60 img { width: 60%; }
.image-70 img { width: 70%; }
.image-80 img { width: 80%; }
.image-90 img { width: 90%; }
.image-100 img { width: 100%; }
.image-110 img { width: 110%; }
.image-120 img { width: 120%; }

// Text
.left { text-align: left; }
.right { text-align: right; }
.center { text-align: center; }
.justify { text-align: justify; }
.primary { color: $primary; }
.alt { color: $secondary; };
.em { color: $tertiary; };

.thin { font-weight: 200; }
.strong { font-weight: 700; }
.huge { font-size: 2em; }
.big { font-size: 1.5em; }
.biggish { font-size: 1.2em; }
.small { font-size: .8em; }

.dark-bg { background-color: $dark; }
.alt-bg { background-color: $secondary; };

.red { color: red; }
.green { color: green; }
.orange { color: orange; }
.purple { color: purple; }
.gray { color: gray; }
.underline { text-decoration: underline; }

.font-size-18 { font-size: 18px; }

// Simple 12-columns grid system
.row {
  width: 100%;
  &::after {
    content: '';
    display: table;
    clear: both;
  }
  &.table { display: table; };
  &.table [class^="col-"] {
    float: none;
    display: table-cell;
    vertical-align: inherit;
  }
}

[class^="col-"] {
  float: left;
  &.inline-block {
    float: none;
    display: inline-block;
  }
}

@for $i from 1 through 12 {
  .col-#{$i} {width: 100% / 12 * $i; }
}

// Tables
table {
    align: center;
    width: 100%;
    table-layout: auto;
}

.table-bordered table, .table-bordered td, .table-bordered th {
  border: 1px solid black;
  padding: 4px;
  border-collapse: collapse;
}

// Animations
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animation-fade {
  animation-duration: 300ms;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
  .remark-visible & { animation-name: fadeIn; }
}


// Fix PDF print with chrome
// ---------------------------------------------------------------------------

@page {
  // 908px 681px for 4/3 slides
  size: 1210px 681px;
  margin: 0;
}

@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}

div.my-header {
	position: fixed;
	top: 10px;
	left: 10px;
	height: 30px;
	width: 100%;
	text-align: left;
}

div.right-header {
	position: fixed;
	top: 10px;
	left: 10px;
	height: 30px;
	width: 90%;
	text-align: right;
  color: orange;
  font-weight: bold;
}
